
.formAdd{ 
    display: flex;
    align-items: center;
    justify-content: center;
}

.formDate{
    width: 200px;
}

.formVisit{
    width: 630px;
}

//BOTONES
.btnAdd{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: white;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color:rgba(30, 144, 255, .9);
    border: rgba(30, 144, 255, .9);
    margin-left: 20px;
}

.btnAdd:hover{
    background-color: dodgerblue;
}

//ITEM DETALLE

.itemDetalle {
    margin: 20px 70px;
    padding: 100px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    height: 100%;
 }

.itemImg{
    margin-right: 50px;
    width: 280px;
}

.itemPrecio{
    font-weight: bolder;
    text-align: left;
    font-size: 30px;  
    margin-top: 30px; 
}

.itemCarac{
    text-align: left;
    font-size: 14px;
}

.detalleProd{
    color: #666;
    font-size: 14px;
    font-weight: 300;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

.cuotas{
    color: green;
    font-size: 14px;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 8px;
    text-align: left;
}

.listCategorias{
    text-decoration: none;
    color: white;  
    margin-left: -20px; 
}

.botonVerCarrito,
.botonSeguirCompra{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: white;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    margin: 50px 10px;
    background-color:rgba(30, 144, 255, .9);
    border: rgba(30, 144, 255, .9);
}

.botonVerCarrito:hover,
.botonSeguirCompra:hover{
    background-color: dodgerblue;
}

.sinStock{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 50px;
}

//NOTIFICACIONES

.notif-add{
    display: flex;
    background-color: green;
    color: white;
    padding: 15px;   
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 60px;  
    position: relative;
    bottom: 0px;
    position:fixed;
}

.notif-delete{
    display: flex;
    background-color: red;
    color: white;
    padding: 15px; 
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 60px;  
    position: relative;
    bottom: 0px;
    margin-top: 10px;
    position:fixed;
}


.notif-name{
    font-size: 20px;
    margin-left: 10px;
}


//ORDENES

.titOrder{
    list-style: none;
}

.order-tit{
    color: black;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.order-visit{
    color: black;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;

}

.order {
    width: 800px;
    margin:0 auto;
    margin-top: 50px;
    background-color: white;
    padding: 20px;   
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.imgProd{
    width: 100px;
    height: 100px;
}

.detalleOrder{
    color: #666;
    font-size: 14px;
    font-weight: 300;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    list-style-type: none;
}

.detalleOrderDate{
    color: #666;
    font-size: 14px;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
}


//TABLA
.table-histories{
    width: 800px;
    margin:0 auto;
    font-size: 20px;  
}

.table-tit-date{
    width: 100px;
}

.table-tit-trat{
    width: 700px;
}

.table-tit-tach{
    width: 10px;
}

.tachito{
    width: 15px;
    color: white;
}

.tachito:hover{
    cursor: pointer;
}

.totalPrecio{
    font-weight: bolder;
    text-align: left;
}

.prod-name{
    text-align: left;
}

@media only screen and (min-width: 376px) and (max-width: 990px) {

    .formAdd{ 
        display:inline-block;
       
    }
    .formVisit{
        width: 400px;
    }
  
  }
