.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: wheat;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: black;
} */

.App-header {
 background-color: wheat;
  height: 140vh;
  align-items: center; 
} 



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


